:root {
    --primary-r: 255;
    --primary-g: 140;
    --primary-b: 0;
    --primary-accent-color: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 1.0);
    --secondary-accent-color: rgba(255, 140, 0, 0.2);
}
.layout-desktop .pageTitleWithLogo {
    margin-left: 0px !important;
    height: 50px !important;
    background-image: url('https://cdn.jsdelivr.net/gh/AdrianNox/NoxNet-Jellyfin@latest/nox-banner.png');
    background-repeat: no-repeat;
    background-position: center;
}
.logo-img {
    content: url('https://cdn.jsdelivr.net/gh/AdrianNox/NoxNet-Jellyfin@latest/nox-banner.png');
}
